# Token akun pengguna Discord
DISCORD_TOKEN="YOUR_DISCORD_TOKEN"

# ID voice channel tempat bot akan tetap terhubung
VOICE_CHANNEL_ID="YOUR_VOICE_CHANNEL_ID"

# Custom Rich Presence (opsional, tidak menggagalkan start jika kosong)
RPC_ENABLED=true

RPC_APPLICATION_ID=ISI_APPLICATION_ID
RPC_NAME=My Custom RPC
RPC_DETAILS=Playing on Discord
RPC_STATE=Indonesia
RPC_LARGE_IMAGE=
RPC_LARGE_TEXT=
RPC_SMALL_IMAGE=
RPC_SMALL_TEXT=
RPC_BUTTON1_NAME=
RPC_BUTTON1_URL=
RPC_BUTTON2_NAME=
RPC_BUTTON2_URL=

RPC_START_TIMESTAMP=true